a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  border: 0;
  padding: 0;
  vertical-align: baseline;
  font: inherit;
  font-size: 100%; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote::after, blockquote::before {
  content: "";
  content: none; }

q::after, q::before {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button,
input {
  border-radius: 0; }
  button:focus,
  input:focus {
    outline: 0; }

body .wrapper {
  overflow: hidden; }

button:active {
  color: black; }

/* Variables */
.header-search {
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 1.5rem 1rem;
  min-width: 1rem;
  font-family: Helvetica, sans-serif; }
  .header-search__box {
    display: flex;
    flex-grow: 2; }
    .header-search__box__input {
      margin: 0;
      border: 1px solid #777;
      border-right: 0;
      padding: .5rem 1rem;
      width: 100%;
      height: 2.5rem;
      text-align: left;
      font-size: 1rem; }

.header-search__submit {
  display: flex;
  align-items: center;
  border: 1px solid #333;
  background: #00aeef;
  cursor: pointer;
  width: 8rem;
  white-space: nowrap;
  color: #333; }
  .header-search__submit gb-link {
    display: block;
    width: 100%; }
    .header-search__submit gb-link a {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1rem;
      font-size: 1.2rem; }

.header-search__sayt {
  position: absolute;
  top: 3.75rem;
  left: 0;
  z-index: 15;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  background: #fff;
  width: 100%; }
  .header-search__sayt div {
    display: flex; }
  .header-search__sayt gb-sayt-autocomplete {
    display: block;
    background-color: #ededed;
    padding: 0;
    width: 20rem; }
    .header-search__sayt gb-sayt-autocomplete h4 {
      background: #777;
      padding: .75rem;
      font-weight: bold;
      color: #ededed; }
    .header-search__sayt gb-sayt-autocomplete a {
      display: block;
      padding: .75rem;
      line-height: 1.1rem;
      color: #333; }
      .header-search__sayt gb-sayt-autocomplete a:hover {
        background: #00aeef;
        color: #333; }
    .header-search__sayt gb-sayt-autocomplete .gb-trending a {
      background: #9fddf4; }
      .header-search__sayt gb-sayt-autocomplete .gb-trending a gb-raw::before {
        content: '\2191';
        font-size: .8em;
        padding-right: .5rem; }
    .header-search__sayt gb-sayt-autocomplete b {
      font-weight: bold; }
  .header-search__sayt gb-sayt-products {
    flex-grow: 2;
    background: #fff;
    width: 100%; }
    .header-search__sayt gb-sayt-products ul {
      display: flex;
      flex-wrap: wrap;
      width: 100%; }
    .header-search__sayt gb-sayt-products li {
      width: 25%; }

gb-recommendations h4 {
  padding: 1rem;
  background: #777;
  color: #ededed; }

.gb-product-card, gb-simple-product-card {
  display: flex;
  flex-direction: column;
  padding: .5rem; }
  .gb-product-card > a, gb-simple-product-card > a {
    align-self: center;
    text-decoration: none; }
  .gb-product-card__image, gb-simple-product-card__image {
    width: 10rem;
    height: 10rem;
    object-fit: scale-down;
    font-family: 'Helvetica';
    font-weight: 300;
    line-height: 2;
    text-align: center;
    background: #ededed;
    border: 1px solid #777;
    height: auto;
    display: block;
    position: relative;
    color: #777; }
    .gb-product-card__image::after, gb-simple-product-card__image::after {
      content: "We're sorry, this image is broken :(";
      display: block;
      padding: 2rem; }
  .gb-product-card__content, gb-simple-product-card__content {
    display: flex;
    flex-direction: column;
    padding: 1rem; }
    .gb-product-card__content__title, gb-simple-product-card__content__title {
      display: flex;
      flex-grow: 2; }
      .gb-product-card__content__title a, gb-simple-product-card__content__title a {
        display: block;
        text-decoration: none;
        line-height: 1.3rem;
        color: #333; }
    .gb-product-card__content__price, gb-simple-product-card__content__price {
      display: flex;
      padding: .5rem 0;
      color: #00aeef;
      font-weight: 900; }
      .gb-product-card__content__price::before, gb-simple-product-card__content__price::before {
        content: '$'; }
    .gb-product-card__content__stock, gb-simple-product-card__content__stock {
      display: flex;
      align-items: center; }

@media only screen and (max-width: 64rem) {
  .header-search__sayt gb-sayt-products li {
    width: 33%; } }
@media only screen and (max-width: 48rem) {
  .header-search__sayt gb-sayt-products li {
    width: 50%; } }
@media only screen and (max-width: 39rem) {
  .header-search__sayt gb-sayt-products li {
    width: 100%; } }
@media only screen and (max-width: 30rem) {
  .header-search__sayt div {
    flex-direction: column; }
  .header-search__sayt gb-sayt-autocomplete {
    flex: 0 0 100%;
    width: 100%; }
  .header-search__sayt gb-sayt-products {
    display: none; } }

/*# sourceMappingURL=sample-sayt.css.map */
